@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,600&family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 10px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

body {
  background: rgb(222, 227, 221);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, rgba(222, 227, 221, 1) 0%, rgba(250, 254, 250, 1) 100%);
  min-height: 100vh;
}

.app {
  position: relative;
  min-height: 100vh;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: opacity 0.3s ease-in-out;
}

.black-overlay-in {
  opacity: 0.5;
  user-select: inherit;
  pointer-events: inherit;
}

.black-overlay-out {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
