.dashboard-container {
  position: relative;
  padding: 2rem 4rem;
  min-height: 100vh;

  .dashboard-title {
    margin: 1rem 0;
    font-size: 2.8rem;
  }
}

@keyframes dashboardTitleIn {
  from {
    opacity: 0;
    transform: translate(-1%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.dashboard-title-date {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0 0 0;
  color: rgba(175, 175, 175, 0.76);
}
