.dashboard-container {
  position: relative;
  padding: 2rem;
  min-height: 100vh;
}

.dashboard-room-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.137);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.1);
  width: fit-content;
  color: #202f3e;

  h1 {
    font-size: 1.5rem;
  }
}

.dashboard-house-icon {
  font-size: 2.5rem !important;
  margin-right: 1rem !important;
}
