.expeneses-by-users-container {
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  padding: 2rem;
  width: fit-content;

  h3 {
    font-size: 1.6rem;
  }
}
