.expeneses-by-users-container {
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;

  h3 {
    font-size: 1.6rem;
  }
}

.max-width-chart {
  margin: 0 auto;
  max-width: 600px;
}

@keyframes expensesByUserIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
