.menu-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: white;
  display: flex;
  padding: 2rem 2.5rem;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
  cursor: pointer;

  a {
    font-weight: 600;
    color: black;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }
}

.menu-btn:hover {
  background-color: #f5f5f5;
}
.menu-btn:last-child {
  margin-bottom: 0;
  border-top-right-radius: 2rem;
  width: 100%;
  margin-top: auto;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.btn-icon-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-icon {
  margin-right: 1.5rem;
  color: black;
}
