.main-transactions-container {
  height: 100%;
  padding: 2rem 0rem;
  display: grid;
  gap: 2rem;
  // grid-template-columns: auto auto auto auto;
  // grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dashboard-menu dashboard-menu dashboard-menu transaction-log "
    "total-expenses total-expenses total-expenses transaction-log"
    "expenses-by-users expenses-by-users expenses-by-users members-list";
}

.transaction-log-grid {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: transaction-log;
}

.transaction-total-exp-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  grid-area: total-expenses;
}

.transaction-by-users-grid {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: expenses-by-users;
}

.members-list-grid {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: members-list;
}

.dashboard-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 2rem;
  padding: 2rem 0rem;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.03);
  width: 100%;
  color: black;
  grid-area: dashboard-menu;
  h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dashboard-house-icon {
  font-size: 2.5rem !important;
  margin-right: 1rem !important;
}

.room-name-container {
  flex: 1;
  display: flex;
  padding: 0 2rem;
  justify-content: flex-start !important;
}

.dashboard-menu-btns-container {
  display: flex;
  justify-content: space-between !important;
  padding: 0 3rem;
  flex: 2;
}

@media screen and (max-width: 1450px) {
  .main-transactions-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "dashboard-menu dashboard-menu dashboard-menu dashboard-menu "
      "total-expenses total-expenses total-expenses transaction-log"
      "expenses-by-users expenses-by-users expenses-by-users members-list";
  }
}

@media screen and (max-width: 700px) {
  .main-transactions-container {
    grid-template-areas:
      "dashboard-menu dashboard-menu dashboard-menu dashboard-menu "
      " transaction-log transaction-log transaction-log transaction-log"
      "expenses-by-users expenses-by-users expenses-by-users expenses-by-users"
      "total-expenses total-expenses total-expenses total-expenses"
      "members-list members-list members-list members-list";
  }

  .dashboard-top-menu {
    flex-direction: column;

    .room-name-container {
      margin-bottom: 2rem;
    }

    .dashboard-menu-btns-container {
      width: 100%;
    }
  }
}
